pandas
numpy
google-cloud-bigquery
google-cloud-bigquery-storage
apache-beam[gcp] ==2.41.0
google-cloud-storage
pandas-gbq
datetime
pytz
google_play_scraper
app_store_scraper
findspark
pyspark
pyarrow
requests
beautifulsoup4
tqdm
nltk
langdetect

