pandas
numpy
google-auth==2.25.2
google-cloud-bigquery-storage==2.24.0
google-cloud-bigquery==3.14.1
apache-beam[gcp] 
google-cloud-storage
pandas-gbq
datetime
pytz
google_play_scraper
app_store_scraper
findspark
pyspark
pyarrow
requests
beautifulsoup4
tqdm
nltk
langdetect

