pandas
numpy
google-cloud-bigquery
google-cloud-storage
pandas-gbq
datetime
pytz
google_play_scraper
app_store_scraper
findspark
pyspark
pyarrow
requests
beautifulsoup4
tqdm
googletrans==4.0.0-rc1
nltk
langdetect